<div class="container mt-5 px-5 px-sm-0">
  <div class="row">
    <h3>武将詳細</h3>
    <div class="col-sm-3">
      <%= image_tag @bushou.get_image(200,200) %><br>
      <%= @bushou.bushou_name %>
    </div>
    <div class="col-sm-8">
      <%= @bushou.explanation %>
    </div>
  </div>
</div>