<div class="container mt-5">
  <div class= "row">
    <div class="col-md-10">
      <h4>コメント履歴一覧</h4>
      <div class="mt-4 mb-5">
        <table class="table table-sm table-bordered table-hover">
          <thead class="table-info">
            <tr>
              <th>コメント日時</th>
              <th>コメントしたユーザー</th>
              <th>コメントした投稿</th>
            </tr>
          </thead>
          <tbody>
          <% @comments.each do |comment| %>
            <tr>
              <td><%= link_to comment.created_at.strftime("%Y-%m-%d %H:%M:%S"), admin_comment_path(comment.id) %></td>
              <td><%= comment.user.name %></td>
              <td><%= comment.post.title %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>