<div class="container mt-5">
  <div class= "row">
    <div class= "col-md-8 offset-md-1">
      <h4>コメント詳細</h4>
      <div class="mt-4 mb-5">
        <table class="table">
          <thead>
            <tr>
              <th>投稿者</th>
              
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>