<div class="container mt-5">
  <h3>武将一覧</h3>
  <div class="row">
  <% @bushous.each do |bushou| %>
    <div class="col-mx-auto">
      <p><%= link_to admin_bushou_path(bushou.id) do %>
         <%= image_tag bushou.get_image(120,120) %>
         <% end %>
      </p><br>
      <p><%= bushou.bushou_name %></p><br>
      <p><%= bushou.explanation %></p>
    </div>
  <% end %>
  </div>
</div>