<div class="container mt-5">
  <h3>武将詳細</h3>
  <div class="row justify-content-left">
    <div class="col-sm-8">
      <%= image_tag @bushou.get_image(200,200) %>
    </div>
    <div class="col-sm-8">
      <%= @bushou.bushou_name %><br />
      <%= @bushou.explanation %>
    </div>
  </div>
  <div class="row">
    <div class="col-mx-auto">
      <%= link_to "編集する", edit_admin_bushou_path(@bushou.id), class: "btn btn-success" %>
    </div>
</div>

