<div class="container mt-5">
<h5><strong>このサイトについて</strong></h5>
  <div class="row justify-content-center">
    <h5>推しヶ原の戦いは、好きな戦国武将について投稿し合うコミュニティサイトです。<br>
    ユーザーは自分の<strong>好きな武将（推し）</strong>を一人選び、推しの軍に所属します。<br>
    各軍に所属したユーザーは、推しについて投稿してください。<br>
    「好きな理由」だったり「ここがすごい！！」という歴史上の活躍だったり<br>
    推している理由をアピールし合いましょう！<br />
    <p></p>
    推しヶ原の戦いは投稿を楽しむだけでなく<strong>対戦要素</strong>も含まれています。<br>
    実際の合戦のように、<strong>投稿数</strong>ととの投稿についた<strong>いいね</strong>の数で<br>
    <strong>勝利</strong>を競い合います。
    </h5>
  </div>
</div>
