<div class="container mt-5">
  <div class= "row">
    <div class="col-md-12 text-left">
      <h5 class="mt-5 mb-4"><strong>このサイトについて</strong></h5>
      <div class="row justify-content-center">
        <h4 class="mt-5 mb-4">〜<strong>推し</strong>への<strong>「愛」</strong>と<strong>「知力」</strong>と<strong>「語彙力」</strong>で自軍の勝利を掴み取れ！〜</h4>

        <h5 class="mt-2 mb-3">推しヶ原の戦いは、好きな戦国武将について投稿し合うコミュニティサイトです。<br>
          会員登録時に自分の<strong>好きな武将（推し）</strong>を一人選んでいただき推しの軍に所属します。<br>
          各軍に所属したあとは、推しについての投稿を楽しんでください。<br>
          「好きな理由」だったり「ここがすごい！！」という歴史上の活躍だったり推している理由を<br>
          アピールし合いましょう！
        </h5>
        <h5 class="mt-2 mb-3">
          また、投稿を楽しむだけでなく<strong>投稿数</strong>とその投稿についた<strong>いいね</strong>の数で軍の勝敗を競い合う<br>
          対戦型のコミュニティサイトでもあります。<br>
          自軍はもちろんですが、語彙力・文章力で他の軍のユーザーが思わず推し変したくなるような<br>
          内容をどんどん投稿していきましょう！
        </h5>
        <h5 class="mt-3 mb-3">
          あなたの投稿を見てぐらっとしちゃった敵軍が自軍を<strong>裏切り</strong>こちらに<strong>寝返</strong>ってしまうかも！？<br>
        </h5>
      </div>
    </div>
  </div>
</div>
