<div class="container mt-5">
  <div class="row">
    <span style="font-size: 30px"><%= @user.old_bushou.bushou_name %>軍から<%= @user.bushou.bushou_name %>軍に寝返りました</span>

  </div>
  <div class="text-center">
    <div class="mt-5"><strong style="font-size: 100px">裏切り者ぉぉぉ！！！</strong><div>
  </div>
</div>